

/*메인이미지부분*/

.f_back_img{width: 100%; height: 480px;
            background: url(../images/f_back_img.png) no-repeat 50%;
            height: 0;
            padding-top: calc(480/1920*100%);
            background-position: top;
            margin: 0 auto;}


/*컨텐츠부분*/
.contents{width: 100%; height: 2300px;
          position: relative;}



.back_box{position: absolute;
         width: 1284px; height: 2406px;
         background-color: #ffffff;
         margin: 0 auto;
         left: 0; right: 0; 
          top:-6%;
         box-shadow: -10px -10px 20px #999;}
.contents_back_text{width: 100%;
                    text-align: center;
                    position: absolute;
                    top:-9.5%;
                    font-size: 11rem;
                    margin: 0 auto;
                    left: 0; right: 0;
                    font-family: 'Passion One', cursive;
                    opacity: 0.8;
                    color: #fff;
                    cursor: default;}

.festival{width: 902px; height: 2030px;
             margin:0 auto;
             padding-top: 8%;}

.festival_title{width: 100%; height: 134px;}
.festival_title>.line{width: 45px; height: 30px;
                      border-top: 5px solid #000;}
.festival_title>h2{font-size:3.6rem;
                   font-weight: bold;}

.seoson{width: 100%; height: 66px;}
.seoson>ul{}
.seoson>ul>a{width: 165px; height: 40px;
             float: left;
             border-radius: 5px 5px;
             box-shadow: 0px 5px 10px #999;
             margin: 0 4.4% 0 4.4%;}
.seoson>ul>a:first-of-type{margin-left: 0;
                           background-color: #fbcccc;}
.seoson>ul>a:last-of-type{margin-right: 0;}
.seoson>ul>a>li{text-align: center;
                line-height: 40px;
                font-size:1.6rem;
                font-weight: 700;}
.seoson>ul>a:hover{background-color: #001e44; color: yellow;
                    }
.seoson>ul>a:nth-child(1):hover{background-color: #fbcccc;
                                color: #000;}


.month{width: 100%; height: 206px;}
.month_in{height: 125px;
          background-color: #fff4f4;
          border-radius: 8px 8px;}
.month_in>ul{width: 90%; height: 100px;
             margin:0 auto;}
.month_in>ul>a{width: 80px; height: 25px;
               float: left;
               border-radius: 10px 10px;
               background-color: #ffffff;
               margin: 25px 0px 0 45px;
               box-shadow: 0 5px 5px #c8c8c8;}
.month_in>ul>a:hover{background-color: #ffe4e4;
                                color: #fb7373; }

.month_in>ul>a>li{text-align: center;
                  line-height: 25px;
                  font-weight: 600;}

.spring{width: 100%; height: 1630px;}

.festival_group{height: 340px;
                box-sizing: border-box;}

.mobile_festival_img{display: none;
                     width: 487px; height: 125px;}

.festival_group>.left{width: 48%;
                      float: left;}
.festival_info{height: 240px;}

.festival_info>.info_title{height: 50%}
.festival_info>.info_title>.line{width: 40px; height: 25px;
                                 border-top:3px solid #000; }
.festival_info>.info_title>h2{font-size:2.8rem;}

.festival_info>.info_text{height: 50%;}
.festival_info>.info_text>dl{margin: 10px 0px 10px 0px;}
.festival_info>.info_text>dl>dt{font-size: 1.6rem;
                                font-weight: 800;
                                margin-right: 10px;
                                float: left;
                                border-bottom: 3px solid yellow;}
.festival_info>.info_text>dl>dd{font-size: 1.6rem;
                                color:#888888;
                                font-weight: 500;}
.festival_info>.info_text>dl:nth-child(2)>dd:hover{font-weight: bold;
                                                   color:#575757;
                                                   cursor: pointer;}

.festival_group>.right{width:450px; height: 240px;
                       float: right;
                       box-shadow: 0 5px 20px #999;
                       border-radius: 10px 10px;
                       position: relative;
                       overflow: hidden;}
.festival_group>.right:hover:before{position: absolute;
                                 content: "VIEW";
                                 font-size:2.1rem;
                                 color: yellow;
                                 text-align: center;
                                 display: inline-block;
                                 background-color: rgba(0,0,0,0.5);
                                 width: 100%; height: 100%;
                                 z-index: 1;
                                 padding-top: 100px;
                                 cursor: pointer;}
.festival_group>.right{}
.festival_group>.right img{transition: all 0.4s;}
.festival_group>.right:hover img{box-shadow: 0px 10px 45px #000;
                                 transform: scale(1.2);
                                 transition: all 0.4s;}

.festival_page{width: 100%;height: 200px;}
.festival_page ul{width: 150px;
                  margin: 0 auto;
                  margin-top:100px;}
.festival_page>ul>li{width: 40px; height: 40px;
                     background-color: #000; 
                     float: left;
                     color: #fff; 
                     text-align: center;
                     border-radius: 5px 5px;
                     margin: 0 10px 0 0;
                     line-height: 40px;
                     font-size:1.2rem;
                     cursor: pointer;}

/*모바일-1279*/

@media (max-width:1279px) {
    .logo{width: 15%;}
    .contents{margin-top:0;}
    .f_back_img{width:100%;
                padding-top: calc(596/1920*100%);
                height: 0;
                margin: 0 auto;}
    .contents_back_text{top:-10%}
    .back_box{width: 80%;
              top:-7%;}
    .festival{width: 90%;}
    .festival_title>.line{width: 3%}
    .festival_title>h2{font-size:2.7rem;}
    
    .seoson>ul{width: 100%;}
    .seoson>ul>a{width: 18%;}
    .seoson>ul>a>li{font-size:1.3rem;}
    .month_in>ul>a{width: 8%;
                   margin:25px 0 0 35px;}
    .spring{height: 1650px;}
    .festival_info>.info_title>.line{width: 5%;}
    .festival_info>.info_title>h2{font-size:2rem;}
    .festival_info>.info_text>dl>dt{font-size:1.3rem;}
    .festival_info>.info_text>dl>dd{font-size:1.3rem;}
    
    .festival_page{height: 150px;}
    
    .festival_group>.right{width: 48%}
    
    
    
    
}

/*모바일-768*/

@media (max-width:768px) {
    
    .back_box{height: 3200px;
             top:-1%;}
    .contents_back_text{font-size:7rem;
                        top:-2.5%;}
    
    .seoson{height: 250px;}
    .month{height: 150px;}
    .seoson>ul>a{width: 100%;
                 margin-left: 0;
                 margin-bottom: 3%}
    .contents{height: 3200px;}
    .spring{height: 2380px;}
    .festival_group{height: 450px;
                    border-bottom:1px solid #999;}
    .festival_group:last-of-type{}
    .mobile_festival_img{display: block;
                         width: 100%;
                         margin-top: 50px;
                         margin-bottom: 30px;
                         text-align: center;}
    .mobile_festival_img img{width: 100%;}
    .festival_group>.left{width: 100%;}
    .festival_group>.right{display: none;}
    .festival_page{height: 300px;}
}



